mat-card-title {
  font-size: small;
  text-align: left;
  //   height: 21px;
  vertical-align: middle;

  span {
    vertical-align: super;
  }

  mat-icon.label-icon {
    padding-top: 8px;
    height: 30px;
  }
}

mat-card {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
}

mat-card-subtitle {
  float: left;
  text-align: left;
  display: block;
}

h3 {
  float: left;
}
