.table-warp {
  min-height: 296px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-left: 5px;
}

td.mat-cell .error-tooltip {
  font-size: 12px;
  height: inherit;
}

td.mat-cell .error-tooltip.stuck-job-tooltip {
  color: red;
}
