<mat-card
  appearance="raised"
  matRipple
  [mdePopoverTriggerFor]="appPopover"
  mdePopoverTriggerOn="hover"
  matRippleCentered="centered"
  class="border-bottom-light center-text w-xs-100 primary-hover"
>
  <mat-card-content>
    <ng-container>
      <mat-icon *ngIf="componentConfigs?.icon">{{ componentConfigs.icon }}</mat-icon>
      <mat-card-title>
        <strong>{{ componentConfigs.title }}</strong>
        <span class="counter-number">
          {{ count | number }}
          <ng-container *ngIf="percentage">
          <small class="small-text">
            / {{ percentage | number: '1.1-2' }} %
          </small>
        </ng-container>
        </span>
      </mat-card-title>
    </ng-container>
  </mat-card-content>
  <ngx-loading [show]="!(loadingHits$ | async) && loading"></ngx-loading>
</mat-card>

<mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
  <app-icons-with-text
    [text]="componentConfigs.description"
  ></app-icons-with-text>
</mde-popover>
