<mat-card
  appearance="raised"
  matRipple
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  (mouseenter)="popoverIsOpen = true"
  (mouseleave)="popoverIsOpen = false"
  matRippleCentered="centered"
  class="border-bottom-light center-text w-xs-100 primary-hover"
  >
  <mat-card-content>
    <ng-container>
      @if (componentConfigs?.icon) {
        <mat-icon>{{
          componentConfigs.icon
        }}</mat-icon>
      }
      <mat-card-title>
        <strong>{{ componentConfigs.title }}</strong>
        <span class="counter-number">
          {{ count | number }}
          @if (percentage) {
            <small class="small-text">
              / {{ percentage | number: '1.1-2' }} %
            </small>
          }
        </span>
      </mat-card-title>
    </ng-container>
  </mat-card-content>
  <ngx-loading [show]="!(loadingHits$ | async) && loading"></ngx-loading>
</mat-card>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="popoverIsOpen"
  >
  <app-icons-with-text
    [text]="componentConfigs.description"
  ></app-icons-with-text>
</ng-template>
