<div class="row mb-3">
  <div class="col-12">
    <div class="border">
      <div class="row">
        <div class="col-12">
          <button
            (click)="rowDelete()"
            class="card-actions"
            color="warn"
            mat-icon-button
            >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            (click)="setIcon()"
            class="card-actions"
            color="primary"
            mat-icon-button
            >
            @if (!grid[0].component || !grid[0].scroll) {
              <mat-icon
                >add_photo_alternate</mat-icon
                >
              }
              @if (
                grid[0] &&
                grid[0].component &&
                grid[0].scroll &&
                grid[0].scroll.icon
                ) {
                <mat-icon
                  >{{ grid[0].scroll.icon }}</mat-icon
                  >
                }
              </button>
            </div>
          </div>
          <div class="row">
            @for (item of grid; track item; let i = $index) {
              <div [ngClass]="item.class">
                <div class="p-3">
                  @if (!item.component) {
                    <mat-card appearance="raised">
                      <button
                        (click)="addComponent(i)"
                        class="w-100"
                        color="primary"
                        mat-button
                        >
                        <mat-icon>add</mat-icon>
                      </button>
                    </mat-card>
                  }
                  @if (item.component) {
                    <mat-card appearance="raised">
                      <mat-card-title>
                        <span>
                          {{ this.grid[i].componentConfigs.title }} -
                          <small
                            ><i>{{ word(item.component) }}</i></small
                            >
                          </span>
                          <button
                            class="card-actions"
                            (click)="delete(i)"
                            color="warn"
                            mat-icon-button
                            >
                            <mat-icon>delete</mat-icon>
                          </button>
                          <button
                            (click)="openDialog(i)"
                            class="card-actions"
                            mat-icon-button
                            >
                            <mat-icon>settings</mat-icon>
                          </button>
                        </mat-card-title>
                        <mat-card-content>
                          <div class="w-100">
                            <mat-icon>{{ icon(item.component) }}</mat-icon>
                          </div>
                        </mat-card-content>
                      </mat-card>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
