<div class="row">
  <div class="col-md-12 pb-5">
    <mat-card appearance="raised">
      <mat-card-title>
        Shared Links
      </mat-card-title>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12 pb-3">
    <table mat-table [dataSource]="dataSource">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="hashedItem">
        <th mat-header-cell *matHeaderCellDef> Hashed Item </th>
        <td mat-cell *matCellDef="let element"> {{element.hashedItem}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="attr">
        <th mat-header-cell *matHeaderCellDef> attr  </th>
        <td mat-cell *matCellDef="let element"> {{element.attr | json}} </td>
      </ng-container>

      <!-- role Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <a
            matTooltip="View"
            [href]="dashboard_name + '/shared/' + element.id"
            color="primary"
            mat-icon-button
            target="_blank"
          >
            <mat-icon aria-hidden="false" aria-label="Layout">open_in_new</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
  </div>
</div>
