<h2 mat-dialog-title>
  @if (finishedExporting) {
    Finished
  } @else {
    {{ installing ? 'Please wait....' : 'Export' }}
    @if (delegationArr) {
      <small>
        getting {{ delegationArr.length }} parts
      </small>
    }
  }
</h2>
<mat-dialog-content>
  @if (!installing) {
    Please, note that very lengthy lists of {{ items_label }} will be exported
    in more than one part to allow a quicker download. Would you like to
    continue?
  } @else {
    @if (delegationArr) {
      <mat-list>
        @for (delegation of delegationArr; track delegation) {
          <a
            [attr.download]="delegation.loaded ? delegation.fileName : null"
            [attr.target]="delegation.loaded ? '_blank' : null"
            class="w-100"
            [ngClass]="{ disable: !delegation.loaded }"
            [href]="
              delegation.loaded
                ? exportPoint + downloadPath + '/' + delegation.fileName
                : ''
            "
            (click)="prevent($event, delegation)"
            >
            <ng-container *ngTemplateOutlet="info"></ng-container>
          </a>
          <ng-template #info>
            <mat-list-item
              [ngClass]="{
                disable: !delegation.loaded
              }"
              >
              @if (!delegation.loaded) {
                Preparing {{ delegation.name }}
                @if (!delegation.loaded) {
                  <mat-progress-bar
                    mode="buffer"
                    color="primary"
                  ></mat-progress-bar>
                }
              } @else {
                <button
                  mat-flat-button
                  color="primary"
                  class="w-100"
                  (click)="markAsDownloaded(delegation)"
                  >
                  <span mat-line>
                    @if (delegation.downloaded) {
                      <mat-icon
                        class="downloaded"
                        >
                        done_all
                      </mat-icon>
                    }
                    Download {{ delegation.name }}
                  </span>
                </button>
              }
              <div>
                <ng-template #loaded>
                  <button
                    mat-flat-button
                    color="primary"
                    class="w-100"
                    (click)="markAsDownloaded(delegation)"
                    >
                    <span mat-line>
                      @if (delegation.downloaded) {
                        <mat-icon
                          class="downloaded"
                          >
                          done_all
                        </mat-icon>
                      }
                      Download {{ delegation.name }}
                    </span>
                  </button>
                </ng-template>
              </div>
            </mat-list-item>
          </ng-template>
          <mat-divider></mat-divider>
        }
      </mat-list>
    } @else {
      <mat-progress-bar mode="query"></mat-progress-bar>
    }
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onKeyUp()">Cancel</button>
  @if (!installing) {
    <button mat-button (click)="exportFile()">Export</button>
  }
</mat-dialog-actions>
