<article class="w-100 break-word">
  <a
    target="_blank"
    href="{{ content.identifierUriPrefix + source[content.identifierUri] }}"
    class="primary-text"
    rel="noopener"
    >
    @if (source[content.icon] && appearance.icons[content.icon] != null) {
      <img
        style="max-width: 30px"
        [src]="getIcon(source[content.icon])"
        />
    }
    <strong>
      {{ source[content.title] }}
    </strong>
  </a>
  @if (source[content.description]) {
    <p>
      {{ source[content.description] }}
    </p>
  }
  <section class="publication-text">
    @for (tag of content.tags; track tag; let i = $index) {
      @if (tags(tag.metadata)) {
        <app-tags
          [ngClass]="{ 'simulate-p-tag': i === 0 || i === 1 }"
          [label]="tag.disply_name"
          [labelData]="tags(tag.metadata)"
        ></app-tags>
      }
    }
  </section>
</article>
