<article class="w-100 break-word">
  @if (content?.identifierUri) {
    <a
      target="_blank"
      href="{{ content.identifierUriPrefix + source[content.identifierUri] }}"
      class="primary-text"
      rel="noopener"
    >
      @if (source[content.icon] && appearance.icons[content.icon] != null) {
        <img
          style="max-width: 30px"
          [src]="getIcon(source[content.icon])"
        />
      }
      <strong>
        {{ source[content.title] }}
      </strong>
    </a>
  } @else {
    @if (source[content.icon] && appearance.icons[content.icon] != null) {
      <img
        style="max-width: 30px"
        [src]="getIcon(source[content.icon])"
      />
    }
    <strong>
      {{ source[content.title] }}
    </strong>
  }
  @if (source[content.description]) {
    <p>
      {{ source[content.description] }}
    </p>
  }
  <section class="publication-text">
    @for (item of content.tags | keyvalue; track item.key) {
      @if (tags(item.value.metadata)) {
        <app-tags
          [ngClass]="{ 'simulate-p-tag': item.key === '0' || item.key === '1' }"
          [label]="item.value.disply_name"
          [labelData]="tags(item.value.metadata)"
        ></app-tags>
      }
    }
  </section>
</article>
