<mat-expansion-panel
  [expanded]="scrollHelperService.expandedStatus"
  (afterCollapse)="disPatchSetInView(true)"
  (afterExpand)="disPatchSetInView(false)"
  >
  @if (!isPaginatedList) {
    <div
      class="prevent-scroll"
      (click)="hideClickToEnable()"
      #clickToEnable
      >
      <span>Click to enable</span>
    </div>
  }
  <div class="panel-header-icons">
    @if (filtered.length > 0) {
      <mat-icon
        class="mr-2"
        matTooltip="Reset Filter"
        matTooltipPosition="after"
        (click)="resetQ()"
        >
        autorenew
      </mat-icon>
    }
  </div>
  <mat-expansion-panel-header class="border-bottom-muted">
    @if (scrollHelperService.getViewState?.userSeesMe) {
      <mat-panel-title
        class="icon-with-text"
        >
        <span class="mr-1">{{ componentConfigs.title }}</span>
        <mat-icon
        aria-label="Button that displays
            a tooltip when focused or hovered over"
          cdkOverlayOrigin
          #trigger="cdkOverlayOrigin"
          (mouseenter)="popoverIsOpen = true"
          (mouseleave)="popoverIsOpen = false"
          >
          error
        </mat-icon>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="popoverIsOpen"
          >
          <app-icons-with-text
            [text]="componentConfigs.description"
          ></app-icons-with-text>
        </ng-template>
      </mat-panel-title>
    }
  </mat-expansion-panel-header>
  @if (!isPaginatedList) {
    <app-virtual-list
      [componentConfigs]="componentConfigs"
      [listData]="listData"
      [sourceString]="sourceString"
      (filteredChange)="handleFilteredChange($event)"
    ></app-virtual-list>
  } @else {
    <app-paginated-list
      [hits]="hits?.hits"
      [paginationAtt]="paginationAtt"
      [loadingHits]="loadingHits"
      [content]="componentConfigs.content"
      >
    </app-paginated-list>
  }

  <ngx-spinner
    name="listSpinner"
    bdColor="rgba(0, 0, 0, 0.1)"
    size="medium"
    color="var(--theme-primary-500)"
    type="ball-clip-rotate"
    [fullScreen]="false"
    [showSpinner]="!loadingHits && scrollHelperService.loading"
  ></ngx-spinner>
</mat-expansion-panel>
