<h1 mat-dialog-title>{{ data.event }} Index</h1>
<!-- <p *ngIf="form">{{this.form | json}}</p> -->

<form [formGroup]="form" (ngSubmit)="submit()" class="">
  <!-- <p *ngIf="this.form.value">{{this.form.value | json}}</p> -->
  <div mat-dialog-content class="w-100">
    <p class="w-100">
      <mat-form-field class="w-100">
        <input
          type="text"
          matInput
          placeholder="Name"
          class="w-100"
          formControlName="name"
          />
        @if (form?.controls?.name?.errors?.required) {
          <mat-error
            >Name is required</mat-error
            >
          }
          @if (form?.controls?.name?.errors?.cannotContainSpace) {
            <mat-error
              >Name can not contain space.</mat-error
              >
            }
            @if (form?.controls?.name?.errors?.lowercaseValidator) {
              <mat-error
                >Name can not contain lowercase.</mat-error
                >
              }
            </mat-form-field>
          </p>
          <p class="w-100">
            <mat-checkbox formControlName="to_be_indexed"
              >Enable Indexing</mat-checkbox
              >
            </p>
            <p class="w-100">
              <mat-checkbox formControlName="auto_harvest">Auto harvest</mat-checkbox>
            </p>
            @if (autoHarvest) {
              <p class="w-100">
                <span class="alert alert-warning">
                  Auto harvest will only trigger the harvester and will not trigger
                  plugins.
                </span>
              </p>
            }
            @if (autoHarvest) {
              <p class="w-100">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Interval</mat-label>
                  <mat-select class="w-100" formControlName="interval">
                    <mat-option value="daily">Daily</mat-option>
                    <mat-option value="weekly">Weekly</mat-option>
                    <mat-option value="monthly">Monthly</mat-option>
                    <mat-option value="yearly">Yearly</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>
            }
            @if (selectedInterval != null && selectedInterval !== '') {
              <p
                class="w-100 interval-settings"
                >
                @if (selectedInterval === 'yearly') {
                  <mat-form-field appearance="fill">
                    <mat-label>Month</mat-label>
                    <mat-select formControlName="interval_month">
                      @for (month of months; track month) {
                        <mat-option [value]="month.key">{{
                          month.value
                        }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                }
                @if (selectedInterval === 'monthly' || selectedInterval === 'yearly') {
                  <mat-form-field
                    appearance="fill"
                    >
                    <mat-label>Day</mat-label>
                    <mat-select formControlName="interval_month_day">
                      @for (monthDay of monthDays; track monthDay) {
                        <mat-option [value]="monthDay">{{
                          monthDay
                        }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                }
                @if (selectedInterval === 'weekly') {
                  <mat-form-field appearance="fill">
                    <mat-label>Day</mat-label>
                    <mat-select formControlName="interval_week_day">
                      @for (weekDay of weekDays; track weekDay) {
                        <mat-option [value]="weekDay.key">{{
                          weekDay.value
                        }}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                }
                <mat-form-field appearance="fill">
                  <mat-label>Hour</mat-label>
                  <mat-select formControlName="interval_hour">
                    @for (hour of hours; track hour) {
                      <mat-option [value]="hour">{{
                        hour
                      }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>Minute</mat-label>
                  <mat-select formControlName="interval_minute">
                    @for (minute of minutes; track minute) {
                      <mat-option [value]="minute">{{
                        minute
                      }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </p>
            }
            <p class="w-100">
              <mat-form-field class="w-100">
                <textarea
                  type="text"
                  matInput
                  rows="5"
                  class="w-100"
                  placeholder="Description"
                  formControlName="description"
                ></textarea>
              </mat-form-field>
            </p>
          </div>
          <div mat-dialog-actions align="end">
            <button
              type="button"
              mat-raised-button
              color="default"
              (click)="onNoClick($event)"
              >
              Close <mat-icon>close </mat-icon>
            </button>
            <button
              type="button"
              color="primary"
              (keyup.enter)="submit()"
              (click)="submit()"
              mat-raised-button
              >
              Submit <mat-icon>done</mat-icon>
            </button>
          </div>
        </form>
