@import '../../../../../../scss/responsive.scss';
@include small {
  .viewport {
    .item {
      height: 90px !important;
    }
  }
}
.listHover:hover {
  cursor: pointer;
  background-color: #e2eaf3;
}
:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}
.viewport {
  height: 404px;
  overflow-x: hidden !important; // firefox

  .item {
    height: 50px;

    .progress {
      height: 7px;
      display: flex;
      overflow: hidden;
      font-size: 0.75rem;
      background-color: #e9ecef;
      border-radius: 0.25rem;
      margin-top: 1px;
    }

    .item-list-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding-right: 5px;
      position: relative;
      height: inherit;

      .lists-percentage {
        text-align: right;
        font-size: 14px;
        font-weight: bolder;
        color: var(--theme-primary-500);
        margin-top: 3px;
        flex: 0 0 60px;
        > span {
          font-size: 70%;
        }
      }

      .arrow {
        z-index: 10;
        border-width: 15px;
        border-radius: 3px 0 0 3px;
      }

      .arrow,
      .arrow:after {
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        margin-left: -1px;
      }

      .item-list-title {
        line-height: 1;
        padding-right: 35px;
        text-wrap: wrap;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        padding-bottom: 1px;
      }

      .doc-count {
        color: #6a6a6a;
        position: absolute;
        right: 65px;
        top: 0;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }

    .mat-mdc-list-item-title {
      text-wrap: initial;
    }
  }

  .item.no-percentage {
    border-bottom: solid 1px #e6e6e6;

    .item-list-row {
      .doc-count {
        color: var(--theme-primary-500);
        right: 10px;
        font-size: 100%;
        font-weight: bold;
      }
    }
  }
}

//.lists_counts-parent {
//  display: inline-flex;
//}
//
//.lists_info-parent {
//  display: inline-flex;
//}
//.lists_counts {
//  text-align: center;
//  padding: 5px 0;
//  border-radius: 0.25em 0.13em 0.13em 0.25em;
//  color: white;
//  width: 75px;
//}
//.viewport[_ngcontent-bge-c80] .item[_ngcontent-bge-c80] .arrow[_ngcontent-bge-c80], .viewport[_ngcontent-bge-c80] .item[_ngcontent-bge-c80] .arrow[_ngcontent-bge-c80]:after {
//  width: 0;
//  height: 0;
//  border-color: transparent;
//  border-style: solid;
//  margin-left: -1px;
//}
//.viewport[_ngcontent-bge-c80] .item[_ngcontent-bge-c80] .arrow[_ngcontent-bge-c80] {
//  z-index: 10;
//  border-width: 15px;
//}
