<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content>
  <form #f="ngForm" class="formd" [formGroup]="form">
    @for (control of formControls; track control) {
      @switch (control.type) {
        @case ('text') {
          <p>
            <mat-form-field>
              <mat-label>{{ control.label }}</mat-label>
              <input
                [type]="control.type"
                matInput
                [required]="control.required"
                [placeholder]="control.label"
                [formControlName]="control.name"
                />
            </mat-form-field>
          </p>
        }
        @case ('sort') {
          <p>
            <ng-select
              [addTag]="false"
              [items]="control.items"
              [required]="control.required"
              bindLabel="name"
              [clearable]="true"
              [searchable]="true"
              [formControlName]="control.name"
              [placeholder]="control.label"
              >
            </ng-select>
          </p>
        }
        @case ('textarea') {
          <p>
            <mat-form-field>
              <mat-label>{{ control.label }}</mat-label>
              <textarea
                [formControlName]="control.name"
                [placeholder]="control.label"
                matInput
                [required]="control.required"
                cols="30"
                rows="10"
                >
              </textarea>
            </mat-form-field>
          </p>
        }
        @case ('select') {
          <p>
            <ng-select
              [addTag]="false"
              (change)="control.onChange($event)"
              [items]="control.items"
              [required]="control.required"
              bindValue="value"
              bindLabel="name"
              [clearable]="true"
              [searchable]="true"
              [formControlName]="control.name"
              [placeholder]="control.label"
              >
              @if (control.icons; as item) {
                <ng-template ng-label-tmp let-item="item">
                  <mat-icon style="float: left" color="primary">{{
                    item.name
                  }}</mat-icon>
                  <b style="float: left">{{ item.name }} </b>
                </ng-template>
              }
              @if (control.icons) {
                <ng-template
                  ng-option-tmp
                  let-item="item"
                  let-index="index"
                  let-search="searchTerm"
                >
                  <mat-icon style="float: left" color="primary">{{
                      item.name
                    }}
                  </mat-icon>
                  <b style="float: left">{{ item.name }}</b>
                </ng-template>
              }
            </ng-select>
          </p>
        }
        @case ('metadata') {
          <p>
            <ng-select
              [addTag]="true"
              [items]="metadata"
              [required]="control.required"
              bindValue="disply_name"
              bindLabel="disply_name"
              [clearable]="true"
              [searchable]="true"
              [formControlName]="control.name"
              [placeholder]="control.label"
              >
            </ng-select>
          </p>
        }
        @case ('number') {
          <p>
            <mat-form-field>
              <mat-label>{{ control.label }}</mat-label>
              <input
                [type]="control.type"
                matInput
                [required]="control.required"
                [placeholder]="control.label"
                [formControlName]="control.name"
                />
            </mat-form-field>
          </p>
        }
        @case ('check') {
          <p>
            <mat-checkbox
              matInput
              [formControlName]="control.name"
              matTooltip="when checking this box, it allows you to update the filter with your selected data"
              >{{ control.label }}</mat-checkbox
              >
            </p>
          }
          @case ('content') {
            <div class="row">
              <div class="col-12">
                <app-main-list
                  [dashbard_name]="dashbard_name"
                  [baseForm]="form"
                ></app-main-list>
              </div>
            </div>
          }
          @case ('checkbox') {
            <p>
              <mat-checkbox
                [formControlName]="control.name"
                [required]="control.required"
                >{{ control.label }}</mat-checkbox
                >
                @if (control.name === 'is_advanced') {
                  <span
                    class="alert alert-info w-100"
                    >
                    Advanced search allows inserting special query parameters to be used
                    in the search input.
                  </span>
                }
              </p>
            }
          }
        }
      </form>
    </div>
    <div mat-dialog-actions align="end">
      <button
        type="button"
        mat-raised-button
        color="default"
        (click)="onNoClick(f.value)"
        >
        Close<mat-icon>close</mat-icon>
      </button>
      <button
        type="button"
        color="primary"
        (keyup.enter)="submit(f.value)"
        (click)="submit(f.value)"
        mat-raised-button
        [disabled]="!f.valid"
        >
        Save <mat-icon>done</mat-icon>
      </button>
    </div>
