mat-form-field {
  width: 100%;
}

.formd {
  min-height: 325px;
}

:host ::ng-deep {
  .preview-container {
    position: sticky;
    top: 0;
    float: right;
  }

  .preview-content > :last-child {
    width: 100%;
  }
}
