<mat-expansion-panel
  [ngClass]="{ fullscreen: isFullscreen }"
  [disabled]="isFullscreen"
  [expanded]="scrollHelperService.expandedStatus"
  (afterCollapse)="disPatchSetInView(true)"
  (afterExpand)="disPatchSetInView(false)"
  >
  @if (!isPaginatedList && !isFullscreen) {
    <div
      class="prevent-scroll"
      (click)="hideClickToEnable()"
      #clickToEnable
      >
      <span>Click to enable</span>
    </div>
  }
  <div class="panel-header-icons">
    @if (filterd) {
      <mat-icon
        class="mr-2"
        matTooltip="Reset Filter"
        matTooltipPosition="after"
        (click)="resetQ()"
        >
        autorenew
      </mat-icon>
    }
    @if (!isFullscreen) {
      <mat-icon
        matTooltip="Full Screen"
        matTooltipPosition="after"
        (click)="fullscren()"
        >
        fullscreen
      </mat-icon>
    }
    @if (isFullscreen) {
      <mat-icon
        matTooltip="Exit Full Screen"
        matTooltipPosition="after"
        (click)="fullscren()"
        >
        fullscreen_exit
      </mat-icon>
    }
  </div>
  <mat-expansion-panel-header class="border-bottom-muted">
    @if (scrollHelperService.getViewState?.userSeesMe) {
      <mat-panel-title
        class="icon-with-text"
        >
        <span class="mr-1">{{ componentConfigs.title }}</span>
        <mat-icon
        aria-label="Button that displays
            a tooltip when focused or hovered over"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        (mouseenter)="popoverIsOpen = true"
        (mouseleave)="popoverIsOpen = false"
          >
          error
        </mat-icon>
        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="trigger"
          [cdkConnectedOverlayOpen]="popoverIsOpen"
        >
          <app-icons-with-text
            [text]="componentConfigs.description"
          ></app-icons-with-text>
        </ng-template>
      </mat-panel-title>
    }
  </mat-expansion-panel-header>
  <ng-container>
    <div class="w-100 h-100" #panel>
      @if (refreshMap && loaded()) {
        <google-map
          [width]="myStyles.width"
          [height]="myStyles.height"
          [zoom]="zoom"
          [options]="options"
          >
          @for (m of listData; track m) {
            @if (m.key.split(','); as aVariable) {
              <map-marker
                (mapClick)="filterMarker(aVariable[2])"
            [options]="{
              icon: 'http://maps.google.com/mapfiles/ms/icons/' +
              (aVariable[2].split('_')[0] == 'technologies'
                ? 'green'
                : 'orange') +
              '-dot.png'
            }"
                [position]="{lat: +aVariable[1], lng: +aVariable[0]}"
                >
              </map-marker>
            }
          }
        </google-map>
      }
    </div>
  </ng-container>
  <ngx-spinner
    name="googleMapSpinner"
    bdColor="rgba(0, 0, 0, 0.1)"
    size="medium"
    color="var(--theme-primary-500)"
    type="ball-clip-rotate"
    [fullScreen]="false"
    [showSpinner]="!loadingHits && scrollHelperService.loading"
  ></ngx-spinner>
</mat-expansion-panel>
