.float-right{
    float: right;
}

.file {
    padding-top: 20px;
    * {
      float: left;
    }
    .logo {
      position: relative;
      max-width: 167px;
      display: inline-block;
      img {
        width: 100%;
        background-color: #ededed;
      }
      button {
        position: absolute;
        right: 0;
        width: 24px;
        height: 24px;
        top: 0;
      }
    }
  }

.list-fields {
  max-height: 390px;
  overflow-y: auto;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.14);
  scroll-behavior: smooth;
}

.show-hide-repository-icon {
  line-height: inherit;
  cursor: pointer;
}
